.showsection {
    display: block;
}

.rightside {
    padding: 0 1.5rem;
    z-index: 1;
    width: calc(var(--container-width) - var(--left-width));
    height: calc(100vh - var(--header-height));

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 1rem;
    }

    @media screen and (max-width: 575px) {
        height: calc(100vh - 2 * var(--header-height));
    }
}