.main {
    display: flex;
    position: relative;
    align-items: flex-start;
    background-color: var(--dark-500);
}

.notifications {
    position: fixed;
    bottom: 5rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    z-index: var(--z-watchlist);

    .notification {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
        background-color: var(--dark-300);
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-out;

        &.show {
            transform: translateX(0%);
            opacity: 1;
        }

        &.hide {
            transform: translateX(100%);
            opacity: 0;
        }

        &__icon {
            font-size: 1.5rem;
            padding: 0.5rem;
            background-color: rgb(101, 101, 101);
            border-radius: 0.5rem;
            align-self: flex-start;
        }

        &__text {
            margin-right: 1rem;

            &--title {
                padding-bottom: 0.5rem;
            }

            &--description {
                font-size: 0.8rem;
                color: var(--light-300);
            }
        }

        &__close {
            position: absolute;
            top: 0.6rem;
            right: 0.6rem;
            transition: all 0.2s;
            padding: 2px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: rgb(101, 101, 101);
            }
        }
    }
}

.createalert {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40rem;
    background-color: var(--dark-300);
    padding: 2rem;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    z-index: var(--z-modal);
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    scale: 0;

    &.show {
        opacity: 1;
        pointer-events: initial;
        scale: 1;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 500;
        padding-bottom: 2rem;
    }

    &__close {
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        transition: all 0.2s;
        padding: 4px;
        font-size: 1.2rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: rgb(101, 101, 101);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        gap: 1.5rem;

        &--fields {
            position: relative;

            .label {
                position: absolute;
                top: 1rem;
                left: 1rem;
                font-size: 0.9rem;
                color: var(--light-300);
                transition: all 0.2s ease;
                pointer-events: none;
            }

            #modalSymbolPrice {
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                font-weight: 500;
                font-size: 0.9rem;
                pointer-events: none;
            }
        }


        .fields {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .createalert__form--fields {
                height: 100%;
                width: 100%;

                .label {
                    font-size: 0.8rem;
                    top: -0.5rem;
                    left: 0;
                    color: var(--yellow-100);
                    background-color: var(--dark-300);
                    padding-right: 0.5rem;
                    padding-bottom: 0.25rem;
                    font-weight: 500;
                }
            }
        }

        &--submit {
            padding: 0.75rem 1.5rem;
            align-self: flex-start;
            border-radius: 4px;
            border: none;
            background-color: var(--yellow-300);
            font-weight: 500;
            color: var(--dark-500);
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: var(--yellow-100);
                box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
            }
        }

        .input {
            padding: 0.75rem 1rem;
            background-color: inherit;
            color: inherit;
            height: 100%;
            border: 1px solid var(--dark-100);
            width: 100%;
            border-radius: 4px;
            font-weight: 300;

            &:active,
            &:focus {
                outline: none;
            }

            &:valid~.label,
            &:focus~.label {
                font-size: 0.8rem;
                top: -0.5rem;
                left: 0;
                color: var(--yellow-100);
                background-color: var(--dark-300);
                padding-right: 0.5rem;
                padding-bottom: 0.25rem;
                font-weight: 500;
            }
        }

        .select {
            padding: 0.75rem 0.8rem;
            background-color: inherit;
            color: var(--light-300);
            width: 100%;
            border: 1px solid var(--dark-100);
            border-radius: 4px;
            font-size: 0.9rem;

            option {
                background-color: var(--dark-100);
            }

            &:active,
            &:focus {
                outline: none;
            }
        }
    }
}

.bellwindow {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    width: 26rem;
    color: var(--light-100);
    z-index: var(--z-modal);
    background-color: var(--dark-300);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    scale: 0;
    transform-origin: top right;

    &__empty {
        color: var(--light-300);
        display: none;

        &.show {
            display: inline;
        }
    }

    &.show {
        opacity: 1;
        pointer-events: initial;
        scale: 1;

    }

    &__title {
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        padding: 0 0.4rem;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__clearall {
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
            color: var(--red-100);
            text-decoration: underline;
        }
    }

    &__container {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 20rem;
        overflow-y: scroll;

        .notification {
            position: relative;
            display: flex;
            width: 100%;
            padding: 1rem 1rem;
            border-bottom: 1px solid var(--dark-100);
            transition: all 0.2s ease;
            cursor: default;

            &:hover {
                background-color: var(--dark-500);
                border-radius: 0.5rem;
            }

            &:hover .notification__button--close {
                opacity: 1;
            }

            &__time {
                font-size: 0.8rem;
                color: var(--grey-100);
                flex: 1;
            }

            &:last-child {
                border-bottom: none;
            }

            &__container {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                flex: 4;
            }

            &__title {
                font-size: 1rem;
                padding-right: 1.5rem;
                color: var(--light-100);
                font-weight: 500;
                word-break: break-word;
            }

            &__desc {
                font-size: 0.8rem;
                color: var(--light-300);
                line-height: 1.5;
            }

            &__button--close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: 1.1rem;
                cursor: pointer;
                transition: all 0.2s;
                padding-left: 0.5rem;
                padding-bottom: 0.5rem;
                color: var(--light-100);
                opacity: 0;

                &:hover {
                    color: var(--red-100);
                }
            }
        }
    }
}

.watchlist {
    display: flex;
    position: sticky;
    top: var(--header-height);
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    width: var(--left-width);
    background-color: var(--dark-500);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: var(--z-watchlist);
    box-shadow: 1px 0 5px 0 #0d0d0d;

    &__items {}

    &__item {
        display: flex;
        align-items: center;
        padding: 1rem;
        height: calc(var(--header-height));
        border-bottom: 1px solid var(--dark-300);
        transition: all 0.2s;
        color: var(--grey-500);


        &:hover {
            background-color: var(--dark-300);
        }

        &:hover .symbol__action {
            display: flex;
        }
    }

    &__search {
        position: sticky;
        top: 0;
        background-color: inherit;
        display: flex;
        align-items: center;
        padding: 1rem;
        height: var(--header-height);
        border-bottom: 1px solid var(--dark-300);
        z-index: inherit;

        span {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
        }

        &--input {
            height: var(--header-height);
            width: 100%;
            background-color: inherit;
            color: inherit;
            font-size: var(--small-font-size);
            border: none;
            border-bottom: inherit;

            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    .symbol {
        display: flex;
        justify-content: space-between;
        position: relative;

        &__name {
            color: var(--light-300);
            font-size: 1rem;
            font-weight: 500;
        }

        &__price {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 2.5rem;

            &--24change {
                display: flex;
                justify-content: flex-end;
                font-size: 0.8rem;
            }

            &--latest {
                display: flex;
                justify-content: flex-end;
                font-size: 1rem;
                width: 6rem;
            }

            &--direction {
                position: absolute;
                bottom: -0.4rem;
                left: 0.4rem;
                font-size: 1.2rem;
            }
        }

        &__action {
            position: absolute;
            background-color: inherit;
            right: 0;
            display: none;
            justify-content: flex-end;
            align-items: center;

            .button__item {
                margin: 0.8rem 0;
                margin-right: 1rem;
                color: var(--light-100);
                padding: 0.3rem 0.6rem;
                font-size: 0.9rem;
            }
        }
    }
}

.searchresults {
    position: sticky;
    background-color: inherit;
    top: var(--header-height);
    z-index: inherit;

    &__item {
        padding: 0 1rem;
        font-size: var(--small-font-size);
        border-bottom: 1px solid var(--dark-300);
        transition: all 0.2s;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
            border-bottom: 4px solid var(--dark-300);
        }

        .coinname {
            padding: 0.6rem 0;
        }

        &:hover {
            background-color: var(--dark-300);
        }

        .button__item {
            display: none;
        }

        .active {
            display: initial;
            border: 1px solid var(--green-300);
            background-color: var(--green-300);
        }

        &:hover .button__item {
            display: initial;
        }
    }
}

.green {
    color: var(--green-100);
}

.red {
    color: var(--red-100);
}

.alerts {
    display: none;
    padding: 0 1.5rem;
    z-index: 1;
    width: calc(var(--container-width) - var(--left-width));
    box-shadow: 1px 0 5px 0 #0d0d0d;

    .heading {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid var(--dark-300);

        &__window {
            display: flex;
            gap: 1.5rem;
            color: var(--light-900);
        }
    }

    &__title {
        height: var(--header-height);
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: all 0.1s;
        scale: 0.9;
        transform-origin: center;

        &:hover {
            color: var(--yellow-100);
            scale: 1;
        }

        &.active {
            scale: 1;
            color: var(--yellow-100);
            border-bottom: 3px solid var(--yellow-100);
        }

        span {
            margin-left: 0.5rem;
        }
    }

    &__create--button {
        background-color: var(--yellow-100);
        color: var(--dark-500);
        padding: 0.4rem 0.6rem;
        border-radius: 4px;
        font-size: .8rem;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--yellow-300);
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        th {
            font-size: 0.9rem;
            padding: 1rem 0.75rem;
            text-align: left;
            border-bottom: 1px solid var(--dark-300);
            color: var(--light-300);

            // Symbol
            &:nth-child(3) {
                width: 4rem;
            }

            // Condition
            &:nth-child(4) {
                width: 4rem;
                text-align: center;
            }

            // Price
            &:nth-child(5) {
                width: 4rem;
            }
        }

        td {
            padding: 0.5rem 0.75rem;
            text-align: left;
            border-bottom: 1px solid var(--dark-300);
            color: var(--light-300);
            transition: all 0.2s;

            // Checkbox
            &:nth-child(1) {
                .textContent {
                    display: flex;
                    flex-direction: column;

                    .description {
                        font-size: 0.8rem;
                        padding-top: 0.5rem;
                        color: var(--grey-500);
                    }
                }
            }

            // Control Buttons
            &:nth-child(2) {
                width: 4rem;

                .control__buttons {
                    display: flex;
                    opacity: 0;
                    transition: all 0.2s;

                    i {
                        font-size: 1.2rem;
                        color: var(--light-300);
                        cursor: pointer;
                        padding: 1rem 0.25rem;
                        transition: all 0.3s;
                        scale: 0;
                    }

                    &--edit {
                        transform: translateX(0.4rem);
                    }

                    &--delete {
                        transform: translateX(-0.4rem);
                    }
                }
            }

            // Symbol
            &:nth-child(3) {
                width: 4rem;
            }

            // Condition
            &:nth-child(4) {
                width: 4rem;
                text-align: center;
            }

            // Price
            &:nth-child(5) {
                width: 4rem;
            }
        }

        tr:hover td {
            background-color: var(--dark-300);
            color: var(--yellow-100);

            &:nth-child(2) {
                .control__buttons {
                    opacity: 1;

                    i {
                        color: var(--light-300);
                        scale: 1;
                    }

                    &--edit {
                        transform: translateX(-0.4rem);

                        &:hover {
                            color: var(--yellow-100);
                        }
                    }

                    &--delete {
                        transform: translateX(0.4rem);

                        &:hover {
                            color: var(--red-100);
                        }
                    }
                }
            }
        }

        th input[type="checkbox"],
        td input[type="checkbox"] {
            display: block;
            margin: 0 auto;
            width: 14px;
            height: 14px;
            accent-color: var(--yellow-100);
        }
    }
}