:root {
    /*========== Colors ==========*/
    --green-100: rgb(14, 203, 129);
    --red-100: rgb(246, 70, 93);
    --blue-100: #0257C7;
    --yellow-100: #f0ba09;

    --light-100: #EAECEF;
    --light-300: #BBBBBB;
    --light-500: #B2B2B2;
    --light-900: #A2A2A2;

    --grey-100: #A7B0B6;
    --grey-500: #7A7A7A;
    --grey-900: #595959;

    --dark-100: #4D4D4D;
    --dark-300: #272727;
    --dark-500: #181818;
    --dark-900: #111111;

    --body: var(--dark-500);
    --text-light: var(--light-100);
    --text-dark: var(--dark-500);

    /*========== layout height and width ==========*/
    --left-width: 25rem;
    --container-width: 1200px;
    --header-height: 3rem;

    @media screen and (min-width: 767px) {
        --header-height: 4rem;
    }

    /*========== z index ==========*/
    --z-watchlist: 10;
    --z-header: 100;
    --z-modal: 200;

    /*========== Font and typography ==========*/
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 576px) {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.75rem;
    }

    @media screen and (min-width: 992px) {
        --biggest-font-size: 4rem;
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}