header {
    position: sticky;
    top: 0;
    z-index: var(--z-header);
    background-color: var(--background-500);
    box-shadow: var(--box-shadow-header);
}

.nav {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);

    &__left {
        display: flex;
        align-items: center;
        width: var(--left-width);
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-left: 1rem;

        &--icon {
            margin-right: 0.5rem;

            path:nth-child(2) {
                fill: var(--primary-100);
            }
        }

        &--title {
            font-size: var(--h3-font-size);
            font-weight: 700;
        }
    }


    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(var(--container-width) - var(--left-width));
        padding-right: 1rem;
        gap: 1rem;
    }

    &__link {
        font-size: var(--small-font-size);
        padding-right: 1rem;
        border-right: 1px solid var(--background-300);
        transition: all 0.3s;

        &:hover {
            color: var(--primary-100);
        }

        &:last-child {
            border-right: none;
            padding-right: 0;
        }
    }

    &__theme {
        position: relative;
        width: 16px;
        padding: 1rem;

        .icon {
            position: absolute;
            left: 0;
            pointer-events: none;
            transition: 0.3s ease;
        }

        .icon-moon {
            transform: translateY(2rem);
            opacity: 0;
        }

        .icon-sun {
            transform: translateY(-2rem);
            opacity: 0;
        }

        .icon-sun.active,
        .icon-moon.active {
            transform: translateY(0);
        }

        .active {
            opacity: 1;
            pointer-events: initial;
        }
    }

    &__icons {
        display: flex;
        gap: 1rem;
    }

    &__notification {
        position: relative;
        padding: 1rem 0;
        fill: var(--textLight-100);
        cursor: pointer;

        // Animate just svg when hover or when tapped on phone
        &:hover svg,
        &:active svg {
            fill: var(--primary-100);
            animation: ring 4s .2s ease-in-out;
            transform-origin: 50% 4px;
        }

        &--light {
            position: absolute;
            top: 0.7rem;
            right: -0.3rem;
            content: '';
            width: 0.4rem;
            height: 0.4rem;
            background-color: red;
            border-radius: 50%;
            box-sizing: content-box;
            border: 3px solid var(--background-500);
            display: none;
        }

        .active {
            display: initial;
        }
    }

    &__theme {
        position: relative;
        fill: var(--textLight-100);
        padding: 1rem 0;
        cursor: pointer;

        &:hover svg,
        &:active svg {
            fill: var(--primary-100);
            // animation: ring 4s .2s ease-in-out;
            // transform-origin: 50% 4px;
        }
    }

    .active {
        color: var(--primary-100);
    }
}