/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  scroll-behavior: smooth;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  color: var(--text-light);
}

:root {
  /*========== Colors ==========*/
  --green-100: rgb(14, 203, 129);
  --green-300: rgb(0, 126, 48);
  --red-100: rgb(246, 70, 93);
  --red-300: rgb(192, 16, 39);
  --blue-100: #0257C7;
  --blue-300: #0a4592;
  --yellow-100: #f0ba09;
  --yellow-300: #daa700;
  --light-100: #EAECEF;
  --light-300: #BBBBBB;
  --light-500: #B2B2B2;
  --light-900: #A2A2A2;
  --grey-100: #A7B0B6;
  --grey-500: #7A7A7A;
  --grey-900: #595959;
  --dark-100: #4D4D4D;
  --dark-300: #333333;
  --dark-500: #181818;
  --dark-900: #111111;
  --body: var(--dark-500);
  --text-light: var(--light-100);
  --text-dark: var(--dark-500);
  /*========== layout height and width ==========*/
  --left-width: 25rem;
  --container-width: 1200px;
  --header-height: 3rem;
  /*========== z index ==========*/
  --z-watchlist: 10;
  --z-header: 100;
  --z-modal: 200;
  /*========== Font and typography ==========*/
  --biggest-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}
@media screen and (min-width: 767px) {
  :root {
    --header-height: 4rem;
  }
}
@media screen and (min-width: 576px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
  }
}
@media screen and (min-width: 992px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.button__item {
  padding: 0.1rem 0.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid var(--dark-100);
}
.button__item--green:hover {
  border: 1px solid var(--green-300);
  background-color: var(--green-300);
}
.button__item--red:hover {
  border: 1px solid var(--red-300);
  background-color: var(--red-300);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-100);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-500);
}

header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  background-color: var(--dark-500);
  -webkit-box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.4);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: var(--header-height);
}
.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--left-width);
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}
.nav__logo--icon {
  margin-right: 0.5rem;
}
.nav__logo--title {
  font-size: var(--h3-font-size);
  font-weight: 700;
}
.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(var(--container-width) - var(--left-width));
  padding-right: 1rem;
  gap: 1rem;
}
.nav__link {
  font-size: var(--small-font-size);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__link:hover {
  color: var(--yellow-100);
}
.nav__link:last-child {
  border-right: none;
}
.nav__link {
  padding-right: 1rem;
  border-right: 1px solid var(--dark-300);
}
.nav__notification {
  position: relative;
  fill: var(--light-100);
  padding: 1rem 0;
  cursor: pointer;
}
.nav__notification:hover svg, .nav__notification:active svg {
  fill: var(--yellow-100);
  -webkit-animation: ring 4s 0.2s ease-in-out;
          animation: ring 4s 0.2s ease-in-out;
  -webkit-transform-origin: 50% 4px;
          transform-origin: 50% 4px;
}
.nav__notification--light {
  position: absolute;
  top: 0.7rem;
  right: -0.3rem;
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  background-color: red;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 3px solid var(--dark-500);
  display: none;
}
.nav__notification .active {
  display: initial;
}
.nav .active {
  color: var(--yellow-100);
}

body {
  background-color: var(--dark-900);
  overflow-x: hidden;
}

.container {
  max-width: var(--container-width);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1224px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--dark-500);
}

.notifications {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 20rem;
  z-index: var(--z-watchlist);
}
.notifications .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--dark-300);
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.notifications .notification.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.notifications .notification.hide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.notifications .notification__icon {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(101, 101, 101);
  border-radius: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.notifications .notification__text {
  margin-right: 1rem;
}
.notifications .notification__text--title {
  padding-bottom: 0.5rem;
}
.notifications .notification__text--description {
  font-size: 0.8rem;
  color: var(--light-300);
}
.notifications .notification__close {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.notifications .notification__close:hover {
  background-color: rgb(101, 101, 101);
}

.createalert {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40rem;
  background-color: var(--dark-300);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
  z-index: var(--z-modal);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}
.createalert.show {
  opacity: 1;
  pointer-events: initial;
  scale: 1;
}
.createalert__title {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
.createalert__close {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 4px;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.createalert__close:hover {
  background-color: rgb(101, 101, 101);
}
.createalert__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  gap: 1.5rem;
}
.createalert__form--fields {
  position: relative;
}
.createalert__form--fields .label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.9rem;
  color: var(--light-300);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}
.createalert__form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.createalert__form .fields .createalert__form--fields {
  height: 100%;
  width: 100%;
}
.createalert__form .fields .createalert__form--fields .label {
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0;
  color: var(--yellow-100);
  background-color: var(--dark-300);
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  font-weight: 500;
}
.createalert__form--submit {
  padding: 0.75rem 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 4px;
  border: none;
  background-color: var(--yellow-300);
  font-weight: 500;
  color: var(--dark-500);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.createalert__form--submit:hover {
  background-color: var(--yellow-100);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
.createalert__form .input {
  padding: 0.75rem 1rem;
  background-color: inherit;
  color: inherit;
  height: 100%;
  border: 1px solid var(--dark-100);
  width: 100%;
  border-radius: 4px;
}
.createalert__form .input:active, .createalert__form .input:focus {
  outline: none;
}
.createalert__form .input:valid ~ .label, .createalert__form .input:focus ~ .label {
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0;
  color: var(--yellow-100);
  background-color: var(--dark-300);
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  font-weight: 500;
}
.createalert__form .select {
  padding: 0.75rem 0.8rem;
  background-color: inherit;
  color: var(--light-300);
  width: 100%;
  border: 1px solid var(--dark-100);
  border-radius: 4px;
  font-size: 0.9rem;
}
.createalert__form .select option {
  background-color: var(--dark-100);
}
.createalert__form .select:active, .createalert__form .select:focus {
  outline: none;
}

.bellwindow {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  width: 25rem;
  color: var(--light-100);
  z-index: var(--z-modal);
  background-color: var(--dark-300);
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  scale: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
.bellwindow__empty {
  color: var(--light-300);
  display: none;
}
.bellwindow__empty.show {
  display: inline;
}
.bellwindow.show {
  opacity: 1;
  pointer-events: initial;
  scale: 1;
}
.bellwindow__title {
  font-size: 1.1rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bellwindow__clearall {
  font-size: 0.8rem;
  cursor: pointer;
}
.bellwindow__clearall:hover {
  color: var(--red-100);
  text-decoration: underline;
}
.bellwindow__container {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 20rem;
  overflow-y: scroll;
}
.bellwindow__container .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-100);
}
.bellwindow__container .notification__time {
  font-size: 0.8rem;
  color: var(--grey-100);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.bellwindow__container .notification:last-child {
  border-bottom: none;
}
.bellwindow__container .notification__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
.bellwindow__container .notification__title {
  font-size: 1rem;
  color: var(--light-100);
  font-weight: 500;
}
.bellwindow__container .notification__desc {
  font-size: 0.8rem;
  color: var(--light-300);
  line-height: 1.5;
}

.watchlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: var(--header-height);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - var(--header-height));
  width: var(--left-width);
  background-color: var(--dark-500);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: var(--z-watchlist);
  -webkit-box-shadow: 1px 0 5px 0 #0d0d0d;
          box-shadow: 1px 0 5px 0 #0d0d0d;
}
.watchlist__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: calc(var(--header-height));
  border-bottom: 1px solid var(--dark-300);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: var(--grey-500);
}
.watchlist__item:hover {
  background-color: var(--dark-300);
}
.watchlist__item:hover .symbol__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.watchlist__search {
  position: sticky;
  top: 0;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: var(--header-height);
  border-bottom: 1px solid var(--dark-300);
  z-index: inherit;
}
.watchlist__search span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}
.watchlist__search--input {
  height: var(--header-height);
  width: 100%;
  background-color: inherit;
  color: inherit;
  font-size: var(--small-font-size);
  border: none;
  border-bottom: inherit;
}
.watchlist__search--input:active, .watchlist__search--input:focus {
  outline: none;
}
.watchlist .symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.watchlist .symbol__name {
  color: var(--light-300);
  font-size: 1rem;
  font-weight: 500;
}
.watchlist .symbol__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
}
.watchlist .symbol__price--24change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
}
.watchlist .symbol__price--latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1rem;
  width: 6rem;
}
.watchlist .symbol__price--direction {
  position: absolute;
  bottom: -0.4rem;
  left: 0.4rem;
  font-size: 1.2rem;
}
.watchlist .symbol__action {
  position: absolute;
  background-color: inherit;
  right: 0;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.watchlist .symbol__action .button__item {
  margin: 0.8rem 0;
  margin-right: 1rem;
  color: var(--light-100);
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
}

.searchresults {
  position: sticky;
  background-color: inherit;
  top: var(--header-height);
  z-index: inherit;
}
.searchresults__item {
  padding: 0 1rem;
  font-size: var(--small-font-size);
  border-bottom: 1px solid var(--dark-300);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchresults__item:last-child {
  border-bottom: 4px solid var(--dark-300);
}
.searchresults__item .coinname {
  padding: 0.6rem 0;
}
.searchresults__item:hover {
  background-color: var(--dark-300);
}
.searchresults__item .button__item {
  display: none;
}
.searchresults__item .active {
  display: initial;
  border: 1px solid var(--green-300);
  background-color: var(--green-300);
}
.searchresults__item:hover .button__item {
  display: initial;
}

.green {
  color: var(--green-100);
}

.red {
  color: var(--red-100);
}

.alerts {
  padding: 0 1.5rem;
  z-index: 1;
  width: calc(var(--container-width) - var(--left-width));
  -webkit-box-shadow: 1px 0 5px 0 #0d0d0d;
          box-shadow: 1px 0 5px 0 #0d0d0d;
}
.alerts .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid var(--dark-300);
}
.alerts .heading__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.alerts__title {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.alerts__title:hover {
  color: var(--yellow-100);
  border-bottom: 3px solid var(--yellow-100);
}
.alerts__title.active {
  color: var(--yellow-100);
  border-bottom: 3px solid var(--yellow-100);
}
.alerts__title span {
  margin-left: 0.5rem;
}
.alerts__create--button {
  background-color: var(--yellow-100);
  color: var(--dark-500);
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.alerts__create--button:hover {
  background-color: var(--yellow-300);
}
.alerts__table {
  width: 100%;
  border-collapse: collapse;
}
.alerts__table th {
  font-size: 0.9rem;
  padding: 1rem 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--dark-300);
  color: var(--light-300);
}
.alerts__table th:nth-child(3) {
  width: 4rem;
}
.alerts__table th:nth-child(4) {
  width: 4rem;
  text-align: center;
}
.alerts__table th:nth-child(5) {
  width: 4rem;
}
.alerts__table td {
  padding: 0.5rem 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--dark-300);
  color: var(--light-300);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.alerts__table td:nth-child(1) .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.alerts__table td:nth-child(1) .textContent .description {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  color: var(--grey-500);
}
.alerts__table td:nth-child(2) {
  width: 4rem;
}
.alerts__table td:nth-child(2) .control__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.alerts__table td:nth-child(2) .control__buttons i {
  font-size: 1.2rem;
  color: var(--light-300);
  cursor: pointer;
  padding: 1rem 0.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  scale: 0;
}
.alerts__table td:nth-child(2) .control__buttons--edit {
  -webkit-transform: translateX(0.4rem);
          transform: translateX(0.4rem);
}
.alerts__table td:nth-child(2) .control__buttons--delete {
  -webkit-transform: translateX(-0.4rem);
          transform: translateX(-0.4rem);
}
.alerts__table td:nth-child(3) {
  width: 4rem;
}
.alerts__table td:nth-child(4) {
  width: 4rem;
  text-align: center;
}
.alerts__table td:nth-child(5) {
  width: 4rem;
}
.alerts__table tr:hover td {
  background-color: var(--dark-300);
  color: var(--yellow-100);
}
.alerts__table tr:hover td:nth-child(2) .control__buttons {
  opacity: 1;
}
.alerts__table tr:hover td:nth-child(2) .control__buttons i {
  color: var(--light-300);
  scale: 1;
}
.alerts__table tr:hover td:nth-child(2) .control__buttons--edit {
  -webkit-transform: translateX(-0.4rem);
          transform: translateX(-0.4rem);
}
.alerts__table tr:hover td:nth-child(2) .control__buttons--edit:hover {
  color: var(--yellow-100);
}
.alerts__table tr:hover td:nth-child(2) .control__buttons--delete {
  -webkit-transform: translateX(0.4rem);
          transform: translateX(0.4rem);
}
.alerts__table tr:hover td:nth-child(2) .control__buttons--delete:hover {
  color: var(--red-100);
}
.alerts__table th input[type=checkbox],
.alerts__table td input[type=checkbox] {
  display: block;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  accent-color: var(--yellow-100);
}